{% load static %}

{% block content %}
    <!DOCTYPE html>
      <html>
        <head>
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <meta name="author" content="Марат Маур">
          <meta name="description" content="Тестовая страница">
          <meta name="keywords" content="тест,проверка,html">
          <title>Авторизация</title>
          <link rel="icon" type="image/x-icon" href="{% static 'main/icon/favicon.ico' %}">
          <link rel="stylesheet" href="{% static 'main/lib/bootstrap-5.3.1-dist/css/bootstrap.min.css' %}">
          <link rel="stylesheet" href="{% static 'main/css/accounts.css' %}">
          <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0"/>
        </head>
        <body>
            {% include "accounts/header_fragment.html" %}
            <section id="auth-section">
                <div class="container" id="profile">
                    <div class="account-info">
                        <div class="username-exit-container">
                            <h4>{{ username }}</h4>
                            <a class="exit-img" href="{% url 'logout' %}">Выйти
                                <img src="{% static 'main/images/exit.png' %}" alt="Выйти" height="15">
                            </a>
                        </div>
                        <p class="balance">Баланс {{ balance }} руб.</p>
                        <a class="open-popup-btn" onclick="openModal()">Пополнить баланс</a>
                        <div id="balancePopup" class="balance_popup">
                            <form method="post" action="{% url 'add_balance' %}">
                                {% csrf_token %}
                                <p>Ваш баланс: {{ balance }} руб.</p>
                                <p>Введите сумму пополнения:</p>
                                <input class="input-info" type="number" id="balance_input" name="balance_input" required><br>
                                <button class="overlay-button" type="submit">ПОПОЛНИТЬ</button>
                            </form>
                            <a onclick="closeModal()" class="modal-button">
                                <img src="{% static 'main/images/xmark.png' %}" width="15" height="19">
                            </a>
                        </div>
                        <div id="overlay" class="overlay" onclick="closeModal()"></div>
                    </div>
                    <div class="test">
                        <div class="btn-group">
                            <button class="choice active" id="button1">Личные данные</button>
                            <button class="choice" id="button2">История заказов</button>
                            <button class="choice" id="button3">Программа лояльности</button>
                        </div>
                        <div id="inputContainer1" class="input-container">
                            <h5 class="es-heading">ПЕРСОНАЛЬНЫЕ ДАННЫЕ</h5>
                            <div class="info-form">
                                <div class="input-form-flex">
                                    <label class="small-text">Имя</label>
                                    <input class="input-info" type="text" value="{{ first_name }}">
                                </div>
                                <div class="input-form-flex">
                                    <label class="small-text">Фамилия</label>
                                    <input class="input-info" type="text" value="{{ second_name }}">
                                </div>
                            </div>
                        </div>
                        <div id="inputContainer2" class="input-container">

                        </div>
                        <div id="inputContainer3" class="input-container">

                        </div>
                    </div>
                </div>
            </section>
            {% include "accounts/footer_fragment.html" %}
        <script src="{% static 'main/js/profile.js' %}"></script>
        <script src="{% static 'main/js/sticky.js' %}"></script>
        <script src="{% static 'main/js/balancePopup.js' %}"></script>
        </body>
      </html>
{% endblock %}
