@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;900&display=swap');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
}

h3 {
  font-size: 24px;
  font-weight: 800;
}

h5 {
  font-size: 20px;
  font-weight: 600;
}

h6 {
  font-size: 9px;
  font-weight: 700;
}

label {
  font-size: 14px;
}

#header {
  height: 207px;
  position: relative;
}

.container {
  align-items: center;
  display: flex;
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.top-line {
  width: 100%;
  height: 46px;
  background: #EBEBEB;
  font-size: 13px;
  display: flex;
}

.title {
  position: relative;
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0;
  transition: 0.3s;
}

.cursor {
  width: 19px;
  height: 18px;
  margin-bottom: 9px;
}

.icon-down {
  width: 17px;
  height: 18px;
}

.cursor, .icon-down {
  user-select: none;
}

.top-menu {
  cursor: default;
  margin-left: auto;
}

.about {
  position: relative;
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
}

.bonus, .news, .cooperation, .contacts {
  position: relative;
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  margin-left: 42px;
}

.menu-el {
    text-decoration: none;
    color: black;
}

.about:hover, .bonus:hover, .news:hover, .cooperation:hover, .contacts:hover {
  text-decoration: underline;
}

.middle-line {
  height: 93px;
  box-sizing: border-box;
  display: block;
  background-color: #fff;
  width: 100%;
  z-index: 1000;
}

#header .middle-line .container {
  padding-top: 26px;
  padding-bottom: 24px;
}

.logo {
  cursor: pointer;
}

.popup {
  position: absolute;
  top: 100%;
  left: 0;
  width: 250px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: none;
  z-index: 1000;
  cursor: default;
}

.topline-top-city {
  font-size: 14px;
  line-height: 1.29;
  padding-top: 8px;
}

.topline-top-city_link {
  text-decoration: none;
  color: black;
  transition: 0.2s;
}

.topline-top-city_link:hover {
  color: #fb8f8f
}

.icon-search {
  height: 25px;
  left: 33px;
  pointer-events: none;
  position: relative;
  z-index: 3;
  transform: translate(0%, 35%);
}

.search-block input {
  height: 43px;
  padding-left: 40px;
  position: relative;
  transition: border-color .3s ease;
  width: 519px;
  z-index: 2;
  border-radius: 7px;
  border-width: 1px;
  border-color: #D9D9D9;
}

.search-block input::placeholder {
  font-size: 14px;
}

.search-block {
  padding-left: 151px;
  display: flex;
}

.select-date {
  position: relative;
  margin-left: auto;
}

.select-date-btn {
  height: 43px;
  position: relative;
  width: 230px;
  z-index: 2;
  background-color: #EBEBEB;
  border-radius: 7px;
  border-width: 1px;
  border-color: #EBEBEB;
  cursor: pointer;
}

.calendar-img {
  left: 15px;
  pointer-events: none;
  position: relative;
  z-index: 3;
  transform: translate(0%, 50%);
}

.select-date-btn:hover {
  background-color: #f1f1f1;
  transition: 0.2s;
}

.select-date-text {
  font-size: 12px;
  padding-left: 43px;
  transform: translate(0%, -50%);
  user-select: none;
}

.select-date-btn:hover {
  color:#fb8f8f;
}

.bottom-line {
  background-color: #272727;
  height: 72px;
}

.genres-menu {
  box-sizing: border-box;
}

.genres-menu ul {
  display: flex;
  list-style: none;
  padding-left: 0;
  justify-content: center;
  margin-top: 11px;
}

.genres-menu ul li {
  margin-right: 6px;
}

.genres-menu ul li:last-child {
  margin-right: 0;
}

.genres-menu ul li.exact-active a {
  text-decoration: underline;
  margin-left: -18px;
}

.genres-menu ul li a {
  align-items: center;
  text-decoration: none;
  color: #fff;
  display: flex;
  font-size: 15px;
  font-weight: 700;
  height: 50px;
  padding: 0 18px;
  transition: all .3s ease;
}

.menu-link {
  transition: transform 0.1s;
  cursor: pointer;
}

.menu-link:hover {
  transform: scale(1.1);
}

.authorization {
  align-items: center;
  color: #fff;
  display: flex;
  flex-shrink: 0;
  font-size: 15px;
  height: 50px;
  margin-left: auto;
  transition: all .3s ease;
}

.circle {
  margin-left: 20px;
  width: 45px;
  height: 45px;
  background-color: #EBEBEB;
  border-radius: 50%;
  position: relative;

}

.auth-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 28px;
  width: 28px;
}

section {
  margin-top: 30px;
  position: relative;
}

footer {
  background-color: #EBEBEB;
}

#footer .container {
  height: 280px;
  display: block;
}

.btn {
  background-color: #fb8f8f;
  color:#fff
}

.btn-sm:hover {
  border: 2px solid #EBEBEB;
}

#auth-section {
  margin-bottom: 70px;
}

#auth {
  justify-content: center;
  margin-top: 70px;
  flex-direction: column;
  border: 2px solid #EBEBEB;
  padding: 25px;
  width: 600px;
}

.auth-h1 {
  letter-spacing: 2px;
  font-size: 32px;
  margin-bottom: 30px;
}

.auth-form {
  flex-direction: column;
  display: flex;
}

.small-text {
  margin-bottom: 5px;
  color: #424242;
}

.input {
  width: 420px;
  height: 50px;
  border: 2px solid #EBEBEB;
  border-radius: 7px;
  padding: 10px;
  margin-bottom: 20px;
}

.auth-btn {
  display: flex;
  background-color: white;
  border-radius: 7px;
  border: 2px solid #EBEBEB;
  height: 50px;
  margin-bottom: 20px;
  transition: 0.2s;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #000;
}

#fst-auth-btn {
  margin-top: 25px;
}

.auth-btn:hover {
  border: 2px solid #000000af;
}

.radio_input {
  margin-right: 10px;
}

.male {
  margin-right: 30px;
}

.female-container {
  margin-bottom: 20px;
}

#input {
  width: 300px;
}

#profile {
  flex-direction: column;
  align-items: flex-start;
}

.account-info {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  margin-bottom: 30px;
  flex-direction: column;
}

.btn-group {
  margin: 0;
  margin-bottom: 50px;
}

.choice {
  background-color: #fff;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 5px 15px;
  width: auto;
  font-size: 14px;
}

#inputContainer1 {
  display: block;
}

.input-form-flex {
  display: flex;
  flex-direction: column;
}

.choice.active {
  border-bottom: 2px solid #000;
}

.input-info {
  border-width: 1px;
  border-color: #D9D9D9;
  height: 40px;
  width: 300px;
  padding-left: 10px;
  margin-right: 30px;
}

.es-heading {
  margin-bottom: 30px;
  font-weight: 400;
}

.exit-img {
  vertical-align: baseline;
  margin-left: 900px;
  text-decoration: none;
  color: black;
}

.info-form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.username-exit-container {
    display: flex;
    align-items: center;
}

.balance {
    font-size: 16px;
}

.balance_popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 330px;
    width: 425px;
    text-align: center;
    transform: translate(-50%, -50%);
    padding: 60px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 900;
}

.overlay-button {
  position: relative;
  background-color: #fb8f8f;
  color: white;
  padding: 13px 21px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 7px;
  border: none;
  text-decoration: none;
  cursor: pointer;
  top: 30px;
}

.modal-button {
    padding: 32px;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 45px;
    height: 45px;
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.open-popup-btn {
    cursor: pointer;
}